.App {
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1 {
  font-family: Roboto Slab;
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-family: Source Sans Pro;
  /* font-size: 18px; */
}
